<div class="home">
  <div class="message"><h3>Sorry. No Movie Found</h3></div>
  <h3>Enter another movie name to search</h3>
  <form action="/search" method="post">
    <input type="text" name="name">
    <button>Search</button>
  </form>
</div>