/* line 1, sass/style.scss */
* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

/* line 5, sass/style.scss */
body {
  width: 900px;
  margin: 0 auto;
}

/* line 10, sass/style.scss */
.container {
  border: 1px solid #ccc;
  padding: 10px 15px;
  min-height: 400px;
}

/* line 17, sass/style.scss */
nav ul {
  background: tomato;
  padding: 0 20px;
}
/* line 21, sass/style.scss */
nav ul li {
  padding: 20px 40px;
  color: white;
}
/* line 25, sass/style.scss */
nav ul a {
  color: #fff;
}

/* line 30, sass/style.scss */
li {
  display: inline-block;
}

/* line 34, sass/style.scss */
.home {
  text-align: center;
}
/* line 37, sass/style.scss */
.home button {
  font-size: 1.5em;
  line-height: 1.6em;
  padding: 2px 30px;
  width: 150px;
}
/* line 43, sass/style.scss */
.home .latest_search {
  width: 130px;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px 2px;
}
/* line 48, sass/style.scss */
.home li {
  padding: 10px;
}

/* line 53, sass/style.scss */
.left {
  width: 60%;
  display: inline-block;
}

/* line 58, sass/style.scss */
.right {
  width: 19%;
  display: inline-block;
  vertical-align: top;
}

/* line 63, sass/style.scss */
.right button {
  width: 100%;
  height: 100px;
}

/* line 67, sass/style.scss */
input {
  font-size: 1.5em;
  line-height: 1.6em;
  padding: 0 10px;
}

/* line 74, sass/style.scss */
button {
  width: 100%;
}
/* line 76, sass/style.scss */
button:active, button:focus {
  box-shadow: none;
}

/* line 83, sass/style.scss */
.movie-results button {
  cursor: pointer;
  background: none;
  border: none;
}

/* line 91, sass/style.scss */
.movie-results .left li {
  display: inline-block;
}
