/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
  margin-top: 1e,;
}
#container {
  margin: 0 auto;
  width:90%;
}

.dish-item {
  float: left;
  width: 20%;
  margin: 10px;
  background-color: #444;
  position: relative;
}
.dish-item:hover .star{
  display:block;
}
.dish-item > img {
max-width: 100%;
}

.content > h2 {
  color: #c6e17e;
}
.content > h4 {
  color: #bbb;
}
.content > p {
  color: gray;
}

.star{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: white;
  cursor:pointer;
  user-select:none;
  -webkit-user-select:none;
  display:none;
}

.star:hover {
  color: yellow;
}