<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yahoo Finance</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
      </ul>
    </nav>

    <%=yield %>
  </div>
</body>
</html>